@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Employee Management System</h1>
    <a asp-action="Index" asp-controller="HomeController" class="btn btn-primary">View All Employees</a>
</div>
